@model IEnumerable<QuanLyPhongBan.Models.UserViewModel>

@{
    ViewData["Title"] = "DetailUserInDepartment";
}

<h1>DetailUserInDepartment</h1>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPhongBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChucVu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPhongBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChucVu)
            </td>
            <td>
                @Html.ActionLink("EditUser", "EditUserInDepartment", new { id = item.Id }) |
                @Html.ActionLink("Details", "DetailsOfUser", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteUserInDepartment", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
